@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h4,
a,
button {
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  font-weight:bold;
  font-size: large;
  padding-left: 13px;
}

h4{
  color: #2b5cfc;
  font-size: 1rem;
  font-weight: bold;
}

.first {
  background: white;
  -moz-box-shadow: 0px 3px 5px 6px #ccc;
  -webkit-box-shadow: 0px 3px 5px 6px #ccc;
  box-shadow: 0px 4px 9px 4px #ccc;
}

.first {
  display: flex;
  padding: 16.5px;
  justify-content: space-around;
}

.center {
  position: absolute;
  z-index: 15;
  top: 46%;
  left: 54%;
  margin: -50px 0 0 -300px;
}

span{
  color: #2b5cfc;
}

div h1 {
  font-size: 35px;
  background: rgba(14, 13, 13, 0.945);
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 10px 12px 10px 12px;
  margin-bottom: 25px;
}

.center button {
  margin-left: 180px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid black;
  cursor: pointer;
}

.center button:hover{
  background-color: black;
  color: white;
}
