@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h4,
a,
button {
  letter-spacing: 6px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  padding-left: 13px;
  color: black;
}

a:hover{
  color:#2b5cfc;
}

h4 {
  color: #2b5cfc;
  font-size: 1rem;
  font-weight: bold;
}

.first {
  background: white;
}

.first {
  display: flex;
  padding: 16.5px;
  justify-content: space-around;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 240px;
  display: table;
  text-align: center;
}

span {
  color: #2b5cfc;
}

div h1 {
  font-size: 43px;
  background: rgba(14, 13, 13, 0.945);
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 15px 12px 15px 12px;
  margin-bottom: 45px;
}

.center button {
  margin-left: auto;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid black;
  cursor: pointer;
  background: transparent
}

.center button:hover {
  background-color: black;
  color: white;
}
