@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h2,
h4,
ul,
a,
button {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h2,
  h4 {
    line-height: 1;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* 
============
  NAV
===========
 */

nav {
  background: #fff;
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-center {
    width: 90vw;
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4{
    margin-bottom: 0;
    color: hsl(205, 78%, 60%);
}

.nav-links{
    display: flex;
}

nav a{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: hsl(205, 86%, 17%);
    letter-spacing: 0.1rem;
    margin-right: 1rem;
}
nav a:hover{
    color: hsl(205, 78%, 60%);
}

main{
    
}
